.TodayWeather {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;


    .Title {
        flex-basis: 100%;
        text-align: center;
        flex-grow: 0;
        font-size: 22px;
    }

    .City {
        flex-basis: 33.3333%;

    }

    .Temp {
        flex-basis: 33.3333%;

        h4 {
            text-transform: capitalize;
        }
    }

    .Image {
        flex-basis: 33.3333%;
    }
}
